/* .nav-tab {
  position: absolute;
  bottom: 75px;
}

.nav-tab__link {
  width: 129px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  cursor: pointer;
  transition: 1.5s;
}

.nav-tab__link:hover {
  transform: translate(0, -5px) scale(1.07);
  background: #2be080;
}

@media screen and (max-width: 1023px) {
  .nav-tab {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 767px) {
  .nav-tab {
    bottom: 30px;
  }
} */
.nav-tab {
  justify-content: center;
  min-height: 66px;
  margin: 224px 0 0 0;
  flex-direction: row;
  align-self: center;
  display: flex;
  background-color: #F5F5F5;
}

.nav-tab__link {
  margin-right: 10px;
}

.nav-tab__link:last-of-type {
  margin-right: 0;
}

.nav-tab__button {
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 16px;
  font-weight: 500;
  min-height: 36px;
  font-size: 12px;
  cursor: pointer;
  min-width: 96px;
  display: flex;
  border: none;
  padding: 0;
  text-decoration: underline;
  text-underline-offset: 2.5px
}

.nav-tab__button:hover {
  transition: 1s ease-in;
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .nav-tab {
      margin-top: 315px;
  }
}

@media screen and (max-width: 480px) {
  .nav-tab {
      padding-bottom: 17px;
      margin-top: 182px;
      min-height: 26px;
  }
}

@media screen and (max-width: 480px) {
  .nav-tab__link {
      margin-right: 6px;
  }

  .nav-tab__link:last-of-type {
      margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .nav-tab__button {
      line-height: 16px;
      min-height: 26px;
      min-width: 82px;
      font-size: 10px;
  }
}